:root {
    font-size: 1em;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 30em;
    margin: 2vh auto;
    min-height: 64em;
    max-height: 80vh;
    padding: 4.8em 1.5em;
}

@media (max-width: 30rem) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
        max-height: 100vh;
    }
}


.main-input {
    width: 16.625em;
    margin: 0 auto;
    height: 4em;
    border-width: 0.2em 0.2em;
    border-color: #04E1FF;
    border-style: solid;
    display: flex;
    background: #c4c4c4;
    border-radius: 0.2em;
    overflow: auto;
}

.main-input>input {
    width: 9.6rem;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 0.5rem;
}

.main-input>select {
    width: calc(100% - 0.2rem);
    margin-left: 0.2rem;
    border-radius: none;
    background: #eee;
    font-size: 1.5rem;
}

.display {
    height: 17.06em;
    width: 25em;
    margin: 0 auto;
    margin-top: 2em;
    border: .25em solid #04E1FF;
    background: #eee;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 0 1.125rem;
    border-radius: 0.7em;
}

@media (max-width: 30rem) {
    .display {
        width: 100%;
        padding: 0 0.8rem;
        margin-top: 1em;
    }
}

.display>.display-output {
    width: 8rem;
    align-self: center;
    background: #fff;
    border: none;
    position: relative;
    height: 2rem;
    display: block;
    border: 0.5px solid #04E1FF;
    /* overflow: auto; */
}

@media (max-width: 30rem) {
    .display>.display-output {
        width: 50%;
    }
}

.display>.display-output:nth-child(even) {
    justify-self: start;
}

.display>.display-output>p {
    position: absolute;
    font-size: 1rem;
    bottom: -0.8rem;
    left: 0.4rem;
    width: 80%;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    display: block;
}

@media (max-width: 30rem) {
    .display>.display-output:nth-child(even) {
        justify-self: center;
    }
}

.display>.display-output>p::-webkit-scrollbar {
    width: 0 !important;
}

.display>.display-output>p {
    -ms-overflow-style: none;
}

.display>.display-output>span {
    position: absolute;
    bottom: 0.1rem;
    right: -2.2rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
}

.brand {
    margin: 1.5rem auto;
    width: 12rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
}
@media (max-width: 30rem) {
    .brand {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.key-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 20em;
    margin: 0 auto;
    margin-top: 2em;
    align-items: center;
    grid-row-gap: 1.5rem;
    padding: 0;
}

.key-pad>div {
    align-self: center;
    margin: 0 auto;
    position: relative;
    box-shadow: 4px 4px 6px solid rgba(5, 5, 5, 0.5);
}

.key-pad>div:active {
    top: 4px;
    left: 4px;
}

.key-pad>div>button {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.16;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);

}

.key-pad>div>.circle {
    position: relative;
    width: 4.80rem;
    height: 4.80rem;
    border-radius: 50%;
    cursor: pointer;
}


.key-pad>div>.circle:before {
    content: "";
    width: 4.80rem;
    height: 4.80rem;
    border-radius: 50%;
    border: 0.65rem solid #c4c4c4;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}

.key-pad>div>.circle:after {
    z-index: -1;
    content: "";
    padding: 1.65rem;
    border: 1.006rem solid #04E1FF;
    border-radius: 50%;
    position: absolute;
    top: -0.256rem;
    left: -0.256rem;
    cursor: pointer;

}

.key-pad>div>.square {
    width: 4.80rem;
    height: 4.8rem;
    border: 0.2rem solid #04E1FF;
    position: relative;
}

.key-pad>div>.square:before {
    width: 4.80rem;
    height: 4.8rem;
    border: 0.75 solid #c4c4c4;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
}